# Laravel
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
!/storage/app/public
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/views
.env
.env.production
Homestead.yaml
Homestead.json

# PHP and Composer
/vendor/
composer.phar

# Testing
/phpunit.xml
/tests/coverage/*
.phpunit.result.cache

# Node (if using Laravel Echo with Soketi)
/node_modules/
/npm-debug.log
yarn-error.log

# IDEs and Editors
.idea/
.vscode/
